<h1><%= @developer.name %></h1>

<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/developers">Developer Index</a></li>
<li><a href="/games">Game Index</a></li>
</ul>
</nav>

<p>Year Founded: <%= @developer.year_founded %></p>
<p>Indie: <%= @developer.is_indie %></p>
<p><a href="/developers/<%= @developer.id %>/games">Games</a></p>