<h1>Relational Rails: Developers and Games Edition</h1>

<div class="index_info">
  <ul>
    <li><%= link_to 'Developer Index', '/developers' %></li>
    <li><%= link_to 'New Developer', '/developers/new' %></li>
    <li><%= link_to 'Game Index', '/games' %></li>
    <li><%= link_to 'New Game', '/games/new' %></li>
  </ul>
</div>
