<h1>This page is for creating new games</h1>

<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/developers">Developer Index</a></li>
<li><a href="/games">Game Index</a></li>
</ul>
</nav>

<form action="/games" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Create a new game</p>
  Name: <input type="text" name="name"><br/>
  Year Released: <input type="number" name="year_released"><br/>
  <input type="hidden" name="has_multiplayer" value=false>
  Multiplayer: <input type="checkbox" name="has_multiplayer"><br/>
  Developer: <select name="developer_id">
    <% @developers.each do |dev| %>
      <option value="<%= dev.id %>"><%= dev.name %></option>
    <% end %>
  </select><br/>
  <input type="submit">
</form>