/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
  background-color: #052F5F;
 }

 body {
  max-width: 80%;
  box-sizing: border-box;
  background-color: white;
  margin: 0px auto;
  padding: 3%;
  max-height: 100%;
 }

nav {
  padding-top: 3%;
  width: fit-content;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  border-right: 1px solid #bbb;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  display: block;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}
